@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
    margin: 0;
    background-color: @grey;
}

a {
    color: darken(@poke-blue, 20);
}

.img--big {
    position: absolute;
    left: 0;
    right: 0;
    top: 230px;
    display: block;
    width: 100%;
    height: auto;
}
