
//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .hide-text();
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.bold {
    font-weight: bold;
}

.btn{
    background-color: @poke-blue;
    color: #fff;
    &:hover {
        color: #fff;
        box-shadow: 0 2px 3px #ccc;
    }
    &:active {
        box-shadow: inset 0 2px 2px darken(@poke-blue, 10);
        border-color: darken(@poke-blue, 5);
    }
    &.btn-danger {
        .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
    }
    &.btn-orange {
        .button-variant(#fff; @orange; @orange);
    }
    &.btn-green {
        .button-variant(#fff; @green; @green);
    }
    &.btn-purple {
        .button-variant(#fff; @purple; @purple);
    }
    &.voted {
        .button-variant(#fff; @poke-pink; darken(@poke-pink, 5));
    }

}

.u-btn--large {
    width: 100%;
    padding: 0;
    border: none;
    margin-top: -25px;

    span {
        line-height: 50px;
    }
}

.u-icon--search{
   .u-iconbase();
    background: url('../img/search-icon.png') no-repeat;

}

.u-icon--exit {
    .u-iconbase();
    background: url('../img/exit-icon.png') no-repeat;
}
