


@grey:           #ebede5;
@white:             #fff;
@poke-blue:         #00c6ff;
@poke-pink:         #f5007f;
@margin-center:     0 auto;
@media-list-bg:     #fff;  
@base-speed:        300ms;
@lheight:           50px;
@selected-bg:       #f7f8f5;