

@background: #f9fabf;
@grey:           #ebede5;
@white:             #fff;
@poke-blue:         #0093a8;
@poke-pink:         #f1525d;
@margin-center:     0 auto;
@media-list-bg:     #fff;
@base-speed:        300ms;
@lheight:           50px;
@selected-bg:       #f7f8f5;
@orange: #ee7905;
@purple: #4d0428;
@green: #cbcb00;
@darkBG: #b8b3a4;
