{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="{% static 'js/sparkline.js' %}"></script>
    <script>
        var data = JSON.parse('{{ time_series|safe }}');
    </script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/sparkline.css' %}">
{% endblock %}

{% block container %}
<header class="Header--page">
    <h1>{{ object.name }} - {{ object.artist.name }}</h1>
</header>

<div class="row">
    <div class="js-report-sparkline"></div>
</div>
{% endblock %}

