{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'js/lib/d3.js' %}"></script>
    <script src="{% static 'js/lib/jquery.2.1.3.js' %}"></script>

    <script src="{% static 'js/sparkline.js' %}"></script>
    <script>
        var data = JSON.parse('{{ time_series|safe }}');
    </script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/sparkline.css' %}">
{% endblock %}

{% block container %}
<header class="Header--page">
    <h1>{{ object.name }} - {{ object.artist.name }}</h1>
</header>

<div class="row">
    <div class="js-report-sparkline"></div>
</div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}

