{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'js/lib/d3.js' %}"></script>
    <script src="{% static 'js/lib/jquery.2.1.3.js' %}"></script>

    <script src="{% static 'js/sparkline.js' %}"></script>
    <script>
        var data = JSON.parse('{{ time_series|safe }}');
        var user_play_share = JSON.parse('{{ user_play_share|safe }}');
    </script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/sparkline.css' %}">
{% endblock %}

{% block container %}
<header class="Header--page">
    <h1>{{ object.name }} - {{ object.artist.name }}
    </h1>
    <a title="Open in Spotify locally" class="spotify-link js-spotifyLink js-spotifyLink--track" href="{{ object.spotify_href }}">Open in Spotify</a>
</header>

<div class="row">
    <div class="col-sm-2">
        <img class="Artwork" src="{{ object.artwork_url }}" alt="Artwork" />
    </div>
    <div class="col-sm-3">
        <h2>First Play</h2>
        <p>By: {{ first_play.user.get_full_name }}</p>
        <p>On: {{ first_play.created }}</p>
    </div>
    <div class="col-sm-3">
        <h2>Votes</h2>
        <p>Score: {{ score.score }} over {{ score.total }} votes</p>
        <p>Total plays: {{ plays.count }}</p>
        <p>Average score: {{ ave_score|floatformat:2 }}</p>
        <p>Position: TBC</p>
    </div>
    <div class="col-sm-3">
        <div id="playShare"></div>
        <p>{{ user_plays.count }} {{ user_plays.count|pluralize:"person,people" }} ha{{ user_plays.count|pluralize:"s,ve" }} been playing this</p>
        {% for message in observations %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Plays over time</h2>
        <div class="js-report-sparkline"></div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}

