{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
<header class="Header--page">
    <h1>Highly played tracks</h1>
</header>

<div class="Listing-list">
    {% for object in object_list %}
    <div class="Listing">
        <h2>
            <a href="{{ object.get_absolute_url }}">
                {{ object.name }} - <small>{{ object.artist }}</small>
            </a>
        </h2>
        <p class="Listing-sub">
        <small>Score:</small> {{ object.score }} <small>&mdash; Plays</small> {{ object.count }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}

