Django==1.6
South==0.7.6
django-picklefield==0.3.0
gunicorn==18.0
django-extensions==1.2.2
python-social-auth==0.2.7
redis==2.8.0
simplejson==3.3.1
Pillow==2.3.0
requests==2.0.0
pusher==0.8
-e git+https://github.com/errkk/socket.io-python-emitter.git@19ff309f998879d3d3649ba88f00f0f86a036633#egg=socket.io_emitter-dev
spotipy==2.0.2
celery==3.1.15
psycopg2==2.5.4
python-memcached==1.53
dj-database-url==0.3.0
django-bmemcached==0.2.1
python-binary-memcached==0.24.3
django-oauth-toolkit==0.8.0
django-cors-headers==1.0.0
djangorestframework==3.1.1
