<div class="media-wrapper">
    <% if (!played){ %>
    <img class="album-art media-object" src="/albumart/<%= album_href.split(':')[2] %>.jpg">
    <% } %>
    <div class="media-body">
        <div class="track">
            <span class='name'><%= name %></span>
            <span><%= artist %></span>
        </div>
        <div class="duration"><%= _(length).convertToMinutes()%></div>
        <div class="user">
            <img class="media-object" src="/profilepictures/<%= user.id %>.jpg">
            <div><%= user.full_name %></div>
        </div>
        <% if (!played){ %>
        <div class="track-actions">
            <% if (isMine && !isPlaying){ %>
                <button class="btn btn-remove-track">✖</button>
            <% } %>
            <% if (!isMine){ %>
            <button class="btn btn-like">⬆</button>
            <button class="btn btn-dislike">⬇</button>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
