{% extends 'base.html' %}

{% block page_title %}Points for {{ week }} | {{ block.super }}{% endblock %}


{% block container %}
<div class="box">
    <h1>Leaderboard <small>Week Commencing: *{{ week }}</small></h1>
    <p>*Maconomy week number: {{ week|date:'W' }}</p>
</div>

{% include 'scoring/_week_links.html' with pattern='scoring:leaderboard' %}

<div class="Listing-list">
    {% for object in object_list|dictsortreversed:"net" %}
    <div class="Listing Listing--bar{% if object.net < 0 %} Listing--minus{% elif object.net > 0 %} Listing--plus{% endif %}">
        <span class="Listing-number">{{ object.net }}</span>
        <h3 class="Listing-title">{{ object.user.get_full_name }}</h3>
        <div class="Bar Bar--likes" style="width: {{ object.likes_percent }}%;"></div>
        <div class="Bar Bar--dislikes" style="width: {{ object.dislikes_percent }}%; margin-left: -{{ object.dislikes_percent }}%;"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
