{% extends 'base.html' %}

{% block page_title %}Points for {{ week }} | {{ block.super }}{% endblock %}


{% block container %}
<header class="Header--page">
    {% include 'scoring/_week_links.html' with pattern='scoring:leaderboard' %}
    <h1>Leaderboard <small>W/C: {{ week }}</small></h1>
</header>


<div class="Listing-list">
    {% for object in object_list|dictsortreversed:"net" %}
    <div class="Listing Listing--bar{% if object.net < 0 %} Listing--minus{% elif object.net > 0 %} Listing--plus{% endif %}">
        <h3 class="Listing-title">{{ object.user.get_full_name }}</h3>
        <div class="Bar-number">{{ object.net }}</div>
        {% if object.likes %}
        <div class="Bar Bar--net" style="width: {{ object.net_percent }}%;"></div>
        {% endif %}
        {% if object.dislikes %}
        <div class="Bar Bar--dislikes" style="width: {{ object.dislikes_percent }}%;"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
