{% extends 'base.html' %}

{% block page_title %}Points for {{ week }} | {{ block.super }}{% endblock %}


{% block container %}
<div class="box">
    <h1>{{ request.user.first_name }}, you have {{ my_total }} Points <small>Points are really important, gotta get 'em all!</small></h1>
    <h3>Week Commencing: {{ week }}</h3>
</div>

{% include 'scoring/_week_links.html' with pattern='scoring:points_week' %}

<div class="Listing-list">
    {% for object in object_list %}
    <div class="Listing{% if object.value < 0 %} Listing--minus{% elif object.value > 0 %} Listing--plus{% endif %}">
        <span class="Listing-number">{{ object.value }}</span>
        <h3 class="Listing-title">{{ object.action }}</h3>
        {% if object.track_name %}<span class="Listing-sub">{{ object.track_name }}</span>{% endif %}
        <small class="Listing-date">{{ object.created }}</small>
    </div>
    {% endfor %}
</div>
{% endblock %}
