{% extends 'base.html' %}

{% block container %}
<h1 class="extra-pad"><img class="u-Baseline--spotify" src="{{ STATIC_URL }}img/spotify-logotype.png" alt="Spotify"> Playlists</h1>
<p class="intro">You can link your Spotify account to your P-Rad account!</p>
<p>Tracks you upvote will appear in a special Spotify playlist, so you can listen to them on your headphones while Chas &amp; Dave is playing.</p>
{% if cred.token_valid %}
    <a class="btn btn--secondary">Linked</a>
{% else %}
    <a class="btn" href="{% url 'spotify_playlist:authorize' %}">Link My Spotify Acccount</a>
{% endif %}
{% if cred.playlist_id %}
    <a class="btn" href="http://open.spotify.com/user/{{ cred.spotify_id }}/playlist/{{ cred.playlist_id }}">View My Playlist &rarr;</a>
{% endif %}

{% if cred.expires_at %}
    <p>Token Expires: {{ cred.expires_at }}</p>
{% endif %}
{% endblock %}
