{% extends 'base.html' %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/socket.io/socket.io.js"></script>
<script>

var socket = io.connect('{{ socketio_client_url }}');

</script>
{% endblock %}


{% block container %}
	<div class="row">
		<div class="col-md-12">
		<a class='btn add-track'>
			<span class="search-icon"></span><span>Add track</span>
		</a>
		</div>
        <progress class="progress-bar" value="5" max="100"></progress>
		<div class="col-md-12 playlist-wrapper">
				<ul id="playlist" class="media-list">
					<!-- Backbone template js/template/playlist.html
						Backbone View js/views/playlist/playist/view.js-->
				</ul>
			</div>
		</div>
	</div>

	<div id="AddTrackView" class='fadeout' style='display:none'>
		<div class="poke-radio-header">
            <div class="container">
                <div class="logo"></div>
            </div>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="btn exit">
						<div class='btn-wrapper'>
							<span class="search-icon"></span>
							<span class="exit-icon"></span>
					</div>
					</div>
				</div>
			</div>
			<form role="form" id="searchForm">
				<div class="form-group">
					<label class="sr-only" for="searchInput">Search</label>
					<input type='search' autocomplete="off" name="search" class="form-control" id="searchInput" placeholder="Search">
				</div>
			<input type="submit" id="doSearch"value="Go" class="btn btn-default"/>
			</form>
			<div class="track-listing-container">
			</div>

		</div>
</div>


{% endblock%}
