{% extends 'base.html' %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/socket.io/socket.io.js"></script>
<script>

var socket = io.connect( '{{ socketio_client_url }}');

socket.on('playlist_changed',function(data){
	alert('PLAYLIST')
	
})

</script>
{% endblock %}


{% block container %}
	<div class="row">
		<div class="col-md-8 results">
			<h1>Results</h1>
			<div class="track-listing-container"></div>
		</div>
		<div class="col-md-4 form" >
			<h1>Search</h1>
			{% include "home/spotify-search-form.html" %}
			<div class="playlist"></div>
		</div>	
	</div>	
{% endblock%}