<!DOCTYPE html>
<!--
|_   __ \  .'   `.|_  ||_  _| |_   __  |
  | |__) |/  .-.  \ | |_/ /     | |_ \_|
  |  ___/ | |   | | |  __'.     |  _| _
 _| |_    \  `-'  /_| |  \ \_  _| |__/ |
|_____|    `.___.'|____||____||________|
-->
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html lang="en" class="not-ie"><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>{% block page_title %}POKERadio{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <!-- Owl Carousel Assets -->
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <!-- Favicon -->

        <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" />

        {% block scripts %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="Header">
            <div class="container">
                {% block leaderboard %}
                {% endblock %}
                <a href="/"><div class="Header-logo"></div></a>
                {%  if request.user.is_authenticated %}
                <div class='Header-userControls'>
                    <img class="Header-userControls-image" src="/profilepictures/{{ request.user.id }}.jpg"/>
                    <div class="Header-userControls-info">
                        <span class="bold">{{ request.user.first_name }}</span>
                        <div class='Header-userControls-cta'><a href="{% url 'logout' %}" >Logout</a> | <a href="{% url 'history:index' %}">Dashboard</a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
            {% block footer_scripts %}
                <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/lib/requirejs/require.js"></script>
            {% endblock %}
        </div>
        {% block dragdrop %}{% endblock %}
    </body>
</html>
