<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html lang="en" class="not-ie"><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>pokeradio</title>
        <!-- Styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <!-- Favicon -->

        <link rel="shortcut icon" href="img/favicon.ico" />
        
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block container %}
            {% endblock %}
         </div>   
        <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/lib/requirejs/require.js"></script>
    </body>
</html>