/****************BASE*************/
body {
  margin: 0 !important;
  background-color: #ebede5;
}
.inline {
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.fadeout {
  opacity: 0;
}
.poke-radio-logo {
  background-image: url('../img/poke-radio-logo.png');
}
.poke-radio-header {
  background-color: #fff;
  height: 170px;
  padding-top: 25px;
}
.poke-radio-header .logo {
  width: 153px;
  height: 77px;
  background-image: url('../img/poke-radio-logo.png');
  margin: 0 auto;
  padding-top: 25px;
}
/*
 * Buttons
 */
.btn {
  background-color: #00c6ff;
  color: #fff;
}
.btn.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn.voted {
  color: #ffffff;
  background-color: #f5007f;
  border-color: #f5007f;
}
/******* Poke Radio *******/
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
/*------- Playlist items --------------*/
#addTrackView .media .preview {
  float: left;
  padding-left: 15px;
}
#addTrackView .media.disabled {
  opacity: 0.5;
}
#addTrackView .media.disabled span {
  /*color: #999;*/

}
.track {
  margin-right: 20px;
  width: 400px;
}
.track div {
  outline: 1px solid green;
}
.track .name {
  color: #505262;
  font-size: 14px;
}
.track span {
  display: block;
  font-size: 12px;
  color: #b8bac6;
}
.album-art {
  background: url(/s/img/loading.gif) no-repeat 50% 50%;
}
.items {
  padding: 0;
}
.media-list:first-child {
  border-top: none;
}
.media-list img {
  width: 60px;
  height: 60px;
}
.media-list .media {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  list-style-type: none;
  margin: 0;
}
.media-list .media-wrapper {
  padding: 10px;
  margin-top: 0;
  background-color: #ffffff;
  border-bottom: 1px #ebede5 solid;
  height: 80px;
}
.media-list .media-wrapper > *,
.media-list .media-wrapper .media-body > * {
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 20px;
}
.media-list .media-wrapper .track {
  margin-right: 20px;
  width: 400px;
}
.media-list .media-wrapper .track div {
  outline: 1px solid green;
}
.media-list .media-wrapper .track .name {
  color: #505262;
  font-size: 14px;
}
.media-list .media-wrapper .track span {
  display: block;
  font-size: 12px;
  color: #b8bac6;
}
.media-list .media-wrapper .duration {
  font-size: 12px;
}
.media-list .media-wrapper .user {
  font-size: 12px;
  color: #b8bac6;
}
.media-list .media-wrapper .user img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.media-list .media-wrapper .user > * {
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.media-list .played {
  font-size: 12px;
  opacity: 0.8;
}
.media-list .played .album-art {
  display: none;
}
.media-list .played .media-wrapper {
  border-bottom: 1px #e1e3dc solid;
  background-color: transparent;
  height: auto;
  padding: 4px 10px;
}
.media-list .played .media-wrapper img {
  width: 22px;
  height: 22px;
}
.media-list .played .media-wrapper .name {
  font-size: 12px;
  color: #b8bac6;
}
.media-list .played .media-wrapper span {
  display: inline;
  font-size: 12px;
  color: #b8bac6;
}
.media-list .played .media-wrapper .track {
  width: 497px;
}
/*------- add track button --------------*/
.add-track {
  width: 100%;
  padding: 0;
  border: none;
  margin-top: -25px;
}
.add-track span {
  line-height: 50px;
}
.add-track .search-icon {
  background: url('../img/search-icon.png') no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 10px;
}
.add-track .exit-icon {
  background: url('../img/exit-icon.png') no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.media.not-played:first-of-type {
  padding-left: 0px;
  padding-right: 0px;
  height: 195px;
}
.user-controls {
  float: right !important;
  margin-top: -40px;
}
.user-controls span {
  font-weight: bold;
}
.user-controls img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.user-controls a {
  font-size: 12px;
  color: #505262;
}
.user-controls > * {
  float: left !important;
}
#addTrackView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 237, 229, 0.95);
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  overflow: auto;
}
#addTrackView .poke-radio-header {
  background: none;
}
#addTrackView .exit {
  width: 100%;
  padding: 0;
  border: none;
  margin-top: -25px;
  text-align: left;
}
#addTrackView .exit span {
  line-height: 50px;
}
#addTrackView .exit .search-icon {
  background: url('../img/search-icon.png') no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 10px;
}
#addTrackView .exit .exit-icon {
  background: url('../img/exit-icon.png') no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
#addTrackView .exit .search-icon {
  margin-left: 10px;
}
#addTrackView .exit .exit-icon {
  margin-right: 10px;
}
#addTrackView .addtrack-search,
#addTrackView .addtrack-exit {
  line-height: 50px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
#addTrackView .addtrack-exit {
  text-align: right;
}
#addTrackView #searchForm {
  margin: 10px 0;
}
#addTrackView #searchForm input[type='search'] {
  margin: 0 0 5px;
  line-height: 20px;
  border: none;
  color: #000;
  box-shadow: none;
  background: transparent;
  font-size: 28px;
}
#addTrackView .media {
  padding: 0 0 10px 0;
  margin-top: 0;
  background-color: #ffffff;
  border-bottom: 1px #ebede5 solid;
  width: 100%;
}
#addTrackView .media .track-main {
  line-height: 1.5em;
}
#addTrackView .media .media-body {
  padding-left: 15px;
  padding-right: 15px;
}
#addTrackView .media .name span {
  display: block;
  text-overflow: ellipsis;
}
#addTrackView .media .artist {
  font-size: 12px;
  color: #b8bac6;
}
#addTrackView .media .album {
  font-size: 12px;
  color: #b8bac6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#addTrackView .media .add-icon,
#addTrackView .media .minus-icon {
  float: right;
}
#addTrackView .media .search-track-details {
  line-height: 33px;
}
#addTrackView .media.selected {
  background: #f7f8f5;
}
.top-hit,
.hits {
  padding: 10px;
  background: #f7f8f5;
  border-bottom: 1px solid #ebede5;
}
/* ------- search list results -----*/
.track-listing-container .hits {
  display: none;
}
.track-listing-container.has-results .hits {
  display: block;
}
/*------- transitions --------------*/
.fade {
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
/*------- icons ------------------*/
.add-icon {
  background: url('../img/add-icon.png') no-repeat;
  width: 33px;
  height: 33px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.minus-icon {
  background: url('../img/minus-icon.png') no-repeat;
  width: 33px;
  height: 33px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.search-icon {
  background: url('../img/search-icon.png') no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 10px;
}
.exit-icon {
  background: url('../img/exit-icon.png') no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  /* IE 7 hack */

  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.progress-bar {
  width: auto;
  float: none;
  height: 20px;
  display: block;
  clear: left;
  background: #fff;
  margin: 10px 15px;
}
progress::-webkit-progress-value {
  background-color: #f5007f;
}
progress::-webkit-progress-bar {
  background-color: #bbb;
}
.transaction-list {
  background: #fff;
}
.transaction {
  padding: 10px 20px 0;
  margin: 10px 0 0;
  clear: left;
  overflow: hidden;
  border-bottom: 1px solid #ebede5;
}
.transaction-value {
  font-size: 2em;
  float: left;
  padding-right: 10px;
  width: 50px;
}
.transaction--minus .transaction-value {
  color: #f5007f;
}
.transaction--plus .transaction-value {
  color: #00c6ff;
}
.transaction-action {
  display: block;
  font-weight: bold;
}
.transaction-track {
  color: #444;
  font-size: 0.8em;
}
.transaction-date {
  font-size: 0.8em;
  float: right;
  color: #999;
}
