{% if who %}
    {% if previous_week %}
    <a href="{% url pattern  year=previous_week|date:'Y' week=previous_week|date:'W' who=who %}" class="btn--back"></a>
    {% endif %}
    {% if next_week %}
    <a href="{% url pattern year=next_week|date:'Y' week=next_week|date:'W' who=who %}" class="btn--forward"></a>
    {% endif %}
{% else %}
    {% if previous_week %}
    <a href="{% url pattern  year=previous_week|date:'Y' week=previous_week|date:'W' %}" class="btn--back"></a>
    {% endif %}
    {% if next_week %}
    <a href="{% url pattern year=next_week|date:'Y' week=next_week|date:'W' %}" class="btn--forward"></a>
    {% endif %}
{% endif %}
