{% extends 'base.html' %}

{% block container %}
<div class="row">
    <div class="col-md-6">
        <h2>Plays</h2>
        <a href="{% url 'history:play_artists_index' 'all' %}" class="btn">Most played artists</a>
        <a href="{% url 'history:play_tracks_index' 'all' %}" class="btn">Most played tracks</a>
        <h2>Likes</h2>
        <a href="{% url 'history:vote_tracks_index' 'all' %}" class="btn">Most liked tracks</a>
        <a href="{% url 'history:vote_artists_index' 'all' %}" class="btn">Most liked artists</a>
    </div>
    <div class="col-md-6">
        <h2>My stuff</h2>
        <a href="{% url 'scoring:points_index' %}" class="btn">Fake internet points</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'scoring:leaderboard_index' %}" class="btn">Playas</a>
        {% else %}
        <a href="#na" class="btn disabled">Playas</a>
        {% endif %}
    </div>
</div>
{% endblock %}
