{% extends 'base.html' %}

{% block page_title %}Plays for {{ week }} | {{ block.super }}{% endblock %}


{% block container %}
<div class="box">
    <h1>Plays</h1>
    <h3>Week Commencing: {{ week }}</h3>
</div>

{% if previous_week %}
<a href="{% url 'history:play_archive_week' previous_week|date:'Y' previous_week|date:'W' %}" class="btn secondary">&larr; Previous Week</a>
{% endif %}
{% if next_week %}
<a href="{% url 'history:play_archive_week' next_week|date:'Y' next_week|date:'W' %}" class="btn primary">Next Week &rarr;</a>
{% endif %}

<div class="Listing-list">
    {% for object in object_list %}
    <div class="Listing">
        <span class="Listing-number">{{ object.plays }}</span>
        <span class="Listing-title">{{ object.name }}</span>
        <span class="Listing-sub">{{ object.artist }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}

