{% extends 'base.html' %}

{% block page_title %}Plays for {{ week }} | {{ block.super }}{% endblock %}


{% block container %}
<div class="box">
    {% if 'me' == who %}
    <h1>My Top Tracks
        <small> | <a href="{% url 'history:week_index' 'all' %}" class="">View all</a></small>
    </h1>
    {% else %}
    <h1>Top Tracks
        <small> | <a href="{% url 'history:week_index' 'me' %}" class="">View mine</a></small>
    </h1>
    {% endif %}
    <h3>Week Commencing: {{ week }}</h3>
</div>
{% if previous_week %}
<a href="{% url 'history:play_archive_week' year=previous_week|date:'Y' week=previous_week|date:'W' who=who %}" class="btn secondary">&larr; Previous Week</a>
{% endif %}
{% if next_week %}
<a href="{% url 'history:play_archive_week' year=next_week|date:'Y' week=next_week|date:'W' who=who %}" class="btn primary">Next Week &rarr;</a>
{% endif %}
<a href="{% url 'history:index' %}" class="btn pull-right">Dashboard</a>

<div class="Listing-list">
    {% for object in object_list %}
    <div class="Listing">
        <span class="Listing-number">{{ object.plays }}</span>
        <span class="Listing-title">{{ object.name }}</span>
        <span class="Listing-sub">{{ object.artist }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}

