.Header {
    height: 210px;
    padding-top: 65px;

    background-color: @white;

}

.Header--noBg {
    background-color: transparent;
}

.Header-logo {
    width: 153px;
    height: 77px;
    margin-top: 40px;
    background-image: url('../img/poke-radio-logo.png');

    .center-block();
}

.Header-userControls {
  height: 40px;
  width: 92%;
  top: 0px;
  margin-top: 5px;
  position: absolute;


}
.Header-userControls-info {
    margin-top: 5px;
}
.Header-userControls-cta {
    float: right;
}
.Header-userControls-image {
    width: 35px;
    height: 35px;

    float: left;
    margin-right: 10px;
}



#owlFavs {
    padding: 0;
    font-size: 12px;
    img {
        width: 100%;
        height: auto;
        display: block;
        min-height: 158px;
    }
    li {
        width: 100%;
        list-style: none;
        display: block;
        float: left;
        background: #fff;
        height: 235px;
        margin: 0 10px 0 0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
    .label {
        display: block;
        padding: 5px;
        color: #444;
        font-style: italic;
    }
    strong {
        display: block;
        color: @purple;
        font-style: normal;
    }
}

@media (min-width: @screen-sm) {
    .Header {
        height: 170px;
        padding-top: 25px;
    }
    .Header-userControls {
        width: initial;
        position: inherit;
        float: right;
        margin-top: -40px;

        a {
            font-size: 12px;
            color: #505262;
        }
    }

    .Header-userControls-info {
        margin: 0;
        float: left;
    }

    .Header-logo { 
        margin-top: 0;
    }
    .Header-userControls-cta {
        float: none;
    }

}
