.Header {
    height: 170px;;
    padding-top: 25px;

    background-color: @white;

}

.Header--noBg {
    background-color: transparent;
}

.Header-logo {
    width: 153px;
    height: 77px;

    background-image: url('../img/poke-radio-logo.png');

    .center-block();
}

.Header-userControls {
    float: right;
    margin-top: -40px;

    a {
        font-size: 12px;
        color: #505262;
    }
}

.Header-userControls-image {
    width: 35px;
    height: 35px;

    float: left;
    margin-right: 10px;
}

.Header-userControls-info {
    float: left;
}