.Listing-list {
    padding: 10px 0 20px;
}

.Listing {
    padding: 10px 20px 10px 75px;
    margin: 0;
    overflow: hidden;

    background: #fff;
    border-bottom: 1px solid #eee;
}
.Listing-number {
    padding: 0 10px 0 0;
    margin: 0 0 0 -55px;
    width: 50px;
    float: left;

    font-size: 3em;
    font-family: Georgia;
    font-style: italic;
    line-height: 1em;
    text-align: center;
}
.Listing--minus .Listing-number {
    color: @poke-pink;
}
.Listing--plus .Listing-number {
    color: @poke-blue;
}
.Listing-title {
    padding: 2px 0 0;
    margin: 0;
    display: block;

    font-size: 1em;
    font-weight: bold;
}
.Listing-date,
.Listing-sub {
    padding: 0;
    margin: 4px 0 0;
    float: left;

    color: #888;
    font-size: 0.8em;
}
.Listing-date {
    float: right;
}
