

<% _.each(metadata,function(item){ 
		%>

	<li data-playlist-id='<%=item.id%>' class="list-group-item">
		<img width='100' height='100' src='/albumart/<%= item.attributes.album_href.replace(/:/g, '/') %>.jpg'>
		<b><%=item.attributes.name%></b> - <%=item.attributes.artist%><br/>
		<small><%=item.attributes.user_fullname%></small>
		<% if (collection.indexOf(item)==0){ %>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
		  </div>
		</div>
		<% }%>
	</li>
    
<% }); %>	
<script id="progress-template" type="text/template">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
		  </div>
		</div>
</script>