<ul class='media-list'>
<% _.each(metadata,function(item){ 
		%>
<li data-href="<%=item.id %>" class="media">
	<div class="media-body">
	
				<div class='name'><span><%=item.attributes.name%></span></div>
				<div class='artist'><%=item.attributes.artists[0].name%></div>
				<div class="album"><%=item.attributes.album.name%></div>
				<div class="duration"><%= _(item.attributes.length).convertToMinutes()%></div>
				<div class='add-icon-wrap'><span class='add-icon'></span></div>

		</div>
<% });%>
</div>


    