    <div class="media-body Search-item-body">
        <div class="row Search-item-details">
            <div class="Search-item-details-preview js-search-item-details-preview"></div>
            <div class="col-md-4 col-offset-1 Search-item-details-track">
                <span><%= name %></span><br />
                <span class="Search-item-secondaryText"><%= artists[0].name %></span><br />
                <progress class="progress-bar progress-bar--small" value="<%= popularity %>" max="1"></progress>
            </div>
             <div class="Search-item-details-actions col-md-2 pull-right">
                 <a class="Search-item-add u-icon--plus js-queue-track pull-right"></a>
                 <button class="btn btn-preview">Preview</button>
             </div>
            <div class="Search-item-details-duration col-md-1 pull-right"><%= _(length).convertToMinutes() %></div>
            <div class="Search-item-secondaryText col-md-3 pull-right"><%= album.name %> <span>Released: <%= album.released %></span></div>
        </div>
    </div>
