<div class="Field form-group js-field {{ field.auto_id }} {% if field.errors %}has-error {% endif %} Field--{{ field.field.type }}">
    <div class="Field-label-container">
        {% if field.field.is_checkbox %}
        <div class="checkbox">
            <label class="Field-label--checkbox">
                {{ field }} {{ field.label }}
            </label>
        </div>
        {% elif field.field.type == 'Select' %}
            <p>{{ field.label_tag }} <span class="Field--select-wrapper">Select {{ field }}</span></p>
        {% else %}
        <label class="Field-label">{{ field.label }}</label> {{ field }}
        {% endif %}
    </div>

    {% if field.errors %}
    <div class="Field-help">
        <ul class="Field-errors">
            {% for error in field.errors %}
            <li class="Field-errors-error">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if field.help_text %}
    <p class="Field-help">{{ field.help_text }}</p>
    {% endif %}
</div>


